recursive-exclude docs *
recursive-exclude test *
recursive-include conf *.conf.template
recursive-include examples *.py
recursive-include requirements *.txt
recursive-include scripts *.sh
recursive-include openbox *.html *.js *.css *.woff *.woff2 *.json *.jpg
recursive-include openbox py.typed
